Repository kodkafa/reform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --config ./.prettierrc.json --write

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --config ./.prettierrc.json --write"
  ],
  "**/*.{css,scss,md,html,json}": [
    "prettier --config ./.prettierrc.json --write"
  ]
}

init
  .eslintrc.json
  index.html
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

init
  package.json
Due: prettier --config ./.prettierrc.json --write

0.0.2
  package.json
Due: prettier --config ./.prettierrc.json --write

npm publish
  .github/workflows/npm-publish.yml
Due: none

0.0.3
  package.json
Due: prettier --config ./.prettierrc.json --write

copy:css
  package.json
Due: prettier --config ./.prettierrc.json --write

0.0.4
  package.json
Due: prettier --config ./.prettierrc.json --write

NPM_TOKEN
  .github/workflows/npm-publish.yml
Due: none

copy:css
  README.md
  package.json
  src/lib/index.ts
Due: eslint --fix, prettier --config ./.prettierrc.json --write

0.0.5
  package.json
Due: prettier --config ./.prettierrc.json --write

linting
  .eslintrc.json
  .husky/pre-commit
  .prettierrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --config ./.prettierrc.json --write

input radio
  public/kodkafa.svg
  src/lib/PasswordInput.tsx
  src/lib/Radio.tsx
  src/lib/index.ts
  src/reform.scss
  src/stories/PasswordInput.stories.tsx
  src/stories/Radio.stories.tsx
  src/stories/Reform.mdx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

0.0.6
  package.json
Due: prettier --config ./.prettierrc.json --write

tailwind preline styles
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/lib/Button.tsx
  src/lib/Checkbox.tsx
  src/lib/Form.tsx
  src/lib/Input.tsx
  src/lib/InputGroup.tsx
  src/lib/Label.tsx
  src/lib/PasswordInput.tsx
  src/lib/Radio.tsx
  src/lib/Select.tsx
  src/lib/Submit.tsx
  src/lib/Switch.tsx
  src/lib/Textbox.tsx
  src/lib/index.ts
  src/main.tsx
  src/preline.scss
  src/stories/Button.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/InputGroup.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/Textbox.stories.tsx
  tailwind.config.cjs
Due: eslint --fix, prettier --config ./.prettierrc.json --write

refactoring
  .eslintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/Input.tsx
  src/lib/InputGroup.tsx
  src/lib/Select.tsx
  src/lib/Switch.tsx
  src/preline.scss
  src/stories/Form.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/examples/Login.mdx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

some updates
  .storybook/preview.tsx
  .storybook/withTailwindTheme.decorator.tsx
  \
  src/lib/Button.tsx
  src/lib/Checkbox.tsx
  src/lib/Form.tsx
  src/lib/Input.tsx
  src/lib/Label.tsx
  src/lib/PasswordInput.tsx
  src/lib/Radio.tsx
  src/lib/Select.tsx
  src/lib/Submit.tsx
  src/lib/Switch.tsx
  src/lib/Textbox.tsx
  src/preline.scss
  src/stories/InputGroup.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/Textbox.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

dark mode + example stories
  .storybook/preview.tsx
  .storybook/withTailwindTheme.decorator.tsx
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/Textarea.tsx
  src/lib/index.ts
  src/preline.scss
  src/stories/InputGroup.stories.tsx
  src/stories/PasswordInput.stories.tsx
  src/stories/Reform.mdx
  src/stories/Submit.stories.tsx
  src/stories/Textarea.stories.tsx
  src/stories/examples/Contact.mdx
  src/stories/examples/Login.mdx
  src/stories/examples/Login.stories.tsx
  src/stories/helpers/Handlers.ts
  src/tailwind.css
Due: eslint --fix, prettier --config ./.prettierrc.json --write

dark mode + example stories
  src/stories/examples/Contact.mdx
  src/stories/examples/Login.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

input group fix and docs'
  src/lib/InputGroup.tsx
  src/preline.scss
  src/stories/examples/Contact.mdx
  src/stories/examples/Groups.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

minor changes
  src/lib/Button.tsx
  src/lib/Checkbox.tsx
  src/lib/Input.tsx
  src/lib/InputGroup.tsx
  src/lib/PasswordInput.tsx
  src/lib/Radio.tsx
  src/lib/Select.tsx
  src/lib/Submit.tsx
  src/lib/Switch.tsx
  src/lib/Textarea.tsx
  src/preline.scss
  src/stories/Button.stories.tsx
  src/stories/Checkbox.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/InputGroup.stories.tsx
  src/stories/PasswordInput.stories.tsx
  src/stories/Radio.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/Submit.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/Textarea.stories.tsx
  src/stories/examples/Groups.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

minor changes
  src/lib/Switch.tsx
  src/stories/Switch.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

register form
  src/lib/Switch.tsx
  src/stories/examples/Register.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

@kodkafa/eslint-config
  .eslintrc.json
  .prettierrc.json
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/lib/Button.tsx
  src/lib/Checkbox.tsx
  src/lib/Input.tsx
  src/lib/InputGroup.tsx
  src/lib/PasswordInput.tsx
  src/lib/Radio.tsx
  src/lib/Select.tsx
  src/lib/Submit.tsx
  src/lib/Switch.tsx
  src/lib/Textarea.tsx
  src/stories/Checkbox.stories.tsx
  src/stories/Form.stories.tsx
  src/stories/InputGroup.stories.tsx
  src/stories/Radio.stories.tsx
  src/stories/Select.stories.tsx
  src/stories/Submit.stories.tsx
  src/stories/examples/Login.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

input group error handling
  src/lib/InputGroup.tsx
  src/stories/InputGroup.stories.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

splitting style files
  .storybook/preview.tsx
  src/preline.scss
  src/preline/checkbox-and-radio.scss
  src/preline/preline.scss
  src/preline/reform-button.scss
  src/preline/reform-input.scss
  src/test.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

Properly splitted style files
  src/preline/errors.scss
  src/preline/preline.scss
  src/preline/reform-button.scss
  src/preline/reform-input-group.scss
  src/preline/reform-item.scss
  src/preline/reform-switch.scss
  src/preline/states.scss
Due: prettier --config ./.prettierrc.json --write

bugfixes
  .storybook/preview.tsx
  src/preline/checkbox-and-radio.scss
  src/preline/errors.scss
  src/preline/preline.scss
  src/preline/states.scss
  src/test.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

refucktoring
  .storybook/preview.tsx
  package.json
  pnpm-lock.yaml
  src/lib/Checkbox.tsx
  src/lib/Input.tsx
  src/lib/InputGroup.tsx
  src/lib/PasswordInput.tsx
  src/lib/Select.tsx
  src/lib/Switch.tsx
  src/preline/checkbox-and-radio.scss
  src/preline/reform-input-group.scss
  src/preline/reform-input.scss
  src/preline/reform-item.scss
  src/stories/Checkbox.stories.tsx
  src/stories/Input.stories.tsx
  src/stories/InputGroup.stories.tsx
  src/stories/examples/Login.stories.tsx
  src/stories/examples/Register.stories.tsx
  src/styles/preline/checkbox-and-radio.scss
  src/styles/preline/errors.scss
  src/styles/preline/preline.scss
  src/styles/preline/reform-button.scss
  src/styles/preline/reform-input-group.scss
  src/styles/preline/reform-input.scss
  src/styles/preline/reform-item.scss
  src/styles/preline/reform-switch.scss
  src/styles/preline/states.scss
  src/styles/reform.scss
  tailwind.config.cjs
Due: eslint --fix, prettier --config ./.prettierrc.json --write

bugfixes
  src/lib/Checkbox.tsx
  src/lib/Radio.tsx
  src/styles/preline/checkbox-and-radio.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

refactoring
  src/lib/Checkbox.tsx
  src/lib/Input.tsx
  src/lib/InputGroup.tsx
  src/lib/Radio.tsx
  src/lib/Select.tsx
  src/lib/Switch.tsx
  src/lib/Textarea.tsx
  src/stories/Checkbox.stories.tsx
  src/stories/Radio.stories.tsx
  src/stories/Switch.stories.tsx
  src/styles/preline/checkbox-and-radio.scss
  src/styles/preline/preline.scss
  src/styles/preline/reform-errors.scss
  src/styles/preline/reform-input-group.scss
  src/styles/preline/reform-input.scss
  src/styles/preline/reform-switch.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

bugfixes
  src/lib/Button.tsx
  src/lib/InputGroup.tsx
  src/lib/PasswordInput.tsx
  src/stories/InputGroup.stories.tsx
  src/styles/preline/checkbox-and-radio.scss
  src/styles/preline/reform-button.scss
  src/styles/preline/reform-errors.scss
  src/styles/preline/reform-input-group.scss
  src/styles/preline/reform-input.scss
  src/styles/preline/states.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

changes this far
  src/stories/InputGroup.stories.tsx
  src/styles/preline/reform-input-group.scss
  src/styles/preline/reform-input.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

testing library setup
  package.json
  pnpm-lock.yaml
  src/tests/Button.test.tsx
  src/tests/setup.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --config ./.prettierrc.json --write

alert component
  pnpm-lock.yaml
  src/lib/Alert.tsx
  src/lib/index.ts
  src/stories/Alert.stories.tsx
  src/styles/preline/preline.scss
  src/styles/preline/reform-alert.scss
  src/tests/Button.test.tsx
  src/tests/Checkbox.test.tsx
Due: eslint --fix, prettier --config ./.prettierrc.json --write

lint fixes
  src/lib/Button.tsx
  src/lib/Switch.tsx
  src/stories/Alert.stories.tsx
  src/stories/Button.stories.tsx
  src/stories/examples/Login.stories.tsx
  src/stories/examples/Register.stories.tsx
  src/stories/examples/SignIn.stories.tsx
  src/styles/preline/reform-button.scss
  src/styles/preline/reform-switch.scss
  src/tailwind.css
  tailwind.config.cjs
Due: eslint --fix, prettier --config ./.prettierrc.json --write

form examples fundamentals
  src/lib/Input.tsx
  src/stories/examples/Feedback.stories.tsx
  src/stories/examples/Login.stories.tsx
  src/stories/examples/SignIn.stories.tsx
  src/stories/examples/Subscribe.stories.tsx
  src/styles/preline/reform-button.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

Checkbox and Switch stories
  src/lib/Checkbox.tsx
  src/lib/InputGroup.tsx
  src/lib/Switch.tsx
  src/stories/Checkbox.stories.tsx
  src/stories/Switch.stories.tsx
  src/stories/examples/Subscribe.stories.tsx
  src/styles/preline/checkbox-and-radio.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

File Input Component&Stories
  src/lib/Checkbox.tsx
  src/lib/File.tsx
  src/lib/Radio.tsx
  src/lib/index.ts
  src/stories/File.stories.tsx
  src/stories/Radio.stories.tsx
  src/styles/preline/preline.scss
  src/styles/preline/reform-file.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write

error handling, errorarea, submit customization
  package.json
  src/lib/ErrorArea.tsx
  src/lib/Form.tsx
  src/lib/Input.tsx
  src/lib/InputGroup.tsx
  src/lib/PasswordInput.tsx
  src/lib/Submit.tsx
  src/lib/index.ts
  src/stories/ErrorArea.stories.tsx
  src/stories/Form.stories.tsx
  src/stories/PasswordInput.stories.tsx
  src/stories/Submit.stories.tsx
  src/stories/examples/Login.stories.tsx
  src/stories/examples/Register.stories.tsx
  src/stories/helpers/Handlers.ts
  src/styles/preline/preline.scss
  src/styles/preline/reform-button.scss
  src/styles/preline/reform-checkbox-radio.scss
  src/styles/preline/reform-element.scss
  src/styles/preline/reform-error.scss
  src/styles/preline/reform-errorarea.scss
  src/styles/preline/reform-form.scss
  src/styles/preline/reform-input.scss
  src/styles/preline/reform-item.scss
  src/styles/preline/reform-label.scss
  src/styles/preline/reform-password.scss
  src/styles/preline/reform-select.scss
  src/styles/preline/reform-submit.scss
  src/styles/preline/reform-textarea.scss
  src/styles/preline/states.scss
Due: eslint --fix, prettier --config ./.prettierrc.json --write
